.skillsBlock {
    min-height: 100vh;
    background: #4169E1;

    display: flex;
    align-items: center;
}

.skillsContainer {

}

.title {
    color: #02020e;
    border: 1px dashed gray;
    padding: 7px;
}

.skills {
    border: 1px dashed gray;
    /*width: 100%;*/

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}