.mainBlock {
    height: 100vh;
    background: #02020e;
}

.photo {
    width: 50vh;
}

.photo img {
    width: 100%;
    /*max-width: 50vh;*/
    border-radius: 7px;
}

.text {
    border: dashed 1px gray;
    border-radius: 7px;
    width: 300px;
    color: gray;
    padding: 7px;


}

.text span {
    text-align: justify;
}

.text h1 {
    color: #4169E1;
    text-align: center;
}

.text p {
    text-align: justify;
    text-indent: 10px;
}