.nav {
    border: dashed 1px gray;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #4169E1;
    padding: 7px;
}